.u-section-1 .u-sheet-1 {
  min-height: 742px;
}

.u-section-1 .u-list-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  min-height: 565px;
  grid-template-rows: auto;
  height: auto;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: calc(50% - 5px);
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  grid-gap: 10px 10px;
  grid-auto-rows: 150%;
}

.u-section-1 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/FarAway.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/IMG_20210106_115717_9391.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 643px;
  }

  .u-section-1 .u-list-1 {
    min-height: 466px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1605px;
  }

  .u-section-1 .u-list-1 {
    min-height: 359px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-rows: calc(66.66% - 3.33333px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1191px;
  }

  .u-section-1 .u-list-1 {
    min-height: 266px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-rows: calc(33.33% - 6.66667px);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 308px;
  }

  .u-section-1 .u-list-1 {
    min-height: 161px;
  }
}