.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/main_2.webp");
  background-position: 50% 3.66%;
}

.u-section-1 .u-sheet-1 {
  min-height: 831px;
}

.u-section-1 .u-shape-1 {
  width: 359px;
  height: 359px;
  margin: 163px auto 0 -105px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: -382px auto 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 691px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 40px;
}

.u-section-1 .u-line-1 {
  width: 111px;
  height: 6px;
  transform-origin: left center;
  margin: 92px auto 0 0;
}

.u-section-1 .u-text-1 {
  font-size: 5.4375rem;
  font-weight: 700;
  line-height: 1;
  margin: 20px 490px 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 600;
  font-size: 1rem;
  font-style: normal;
  line-height: 1.8;
  margin: 23px 490px 0 0;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 3px;
  font-size: 1.25rem;
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-weight: normal;
  font-family: Raleway, sans-serif;
  margin: 20px auto 0 0;
  padding: 10px 30px 10px 29px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.25rem;
  background-image: none;
  font-weight: normal;
  margin: -52px auto 0 246px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 564px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 153px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-top: -402px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 570px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 40px 31px;
  }

  .u-section-1 .u-line-1 {
    transform-origin: left center 0px;
    margin-top: 95px;
    margin-left: 9px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    margin-right: 489px;
    margin-left: 9px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 489px;
    margin-left: 9px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 19px;
    margin-left: 9px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -51px;
    margin-left: 255px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 94px;
  }

  .u-section-1 .u-shape-1 {
    width: 293px;
    height: 293px;
    margin-top: 187px;
    margin-left: -92px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -305px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 571px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 60px 20px;
  }

  .u-section-1 .u-line-1 {
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    width: auto;
    margin-top: 14px;
    margin-right: 410px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 9px;
    margin-right: 410px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 14px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 14px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-shape-1 {
    width: 291px;
    height: 291px;
    margin-top: 150px;
    margin-left: -100px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -325px;
    margin-bottom: -33px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 635px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 75px;
    padding-left: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 5.625rem;
    margin-right: 191px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 179px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 661px;
  }

  .u-section-1 .u-shape-1 {
    width: 228px;
    height: 228px;
    margin-top: 100px;
    margin-left: -114px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -228px;
    margin-bottom: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 561px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-right: 65px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-right: 88px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 21px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 22px;
  }
}.u-section-2 {
  min-height: 532px;
}

.u-section-2 .u-text-1 {
  font-weight: normal;
  font-family: Raleway, sans-serif;
  margin: 40px calc(((100% - 1140px) / 2) + 893px) 0 calc(((100% - 1140px) / 2));
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  width: 750px;
  margin: 40px auto 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  grid-gap: 10px 10px;
  min-height: 370px;
}

.u-section-2 .u-image-1 {
  background-image: url("images/OnmyMind.webp");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  background-image: url("images/Far_Away1.webp");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-line-1 {
  height: 3px;
  transform-origin: left center 0px;
  margin: 40px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 {
    min-height: 526px;
  }

  .u-section-2 .u-text-1 {
    margin-right: calc(((100% - 1140px) / 2) + 794px);
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-2 .u-list-1 {
    width: 747px;
    margin-top: 37px;
  }

  .u-section-2 .u-line-1 {
    margin-top: 37px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    min-height: 532px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-right: calc(((100% - 720px) / 2) + 473px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-list-1 {
    width: 778px;
    margin-top: 27px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 383px;
  }

  .u-section-2 .u-line-1 {
    margin-bottom: 3px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-2 {
    min-height: 429px;
  }

  .u-section-2 .u-text-1 {
    margin-right: calc(((100% - 540px) / 2) + 293px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-list-1 {
    width: 540px;
    margin-top: 40px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 267px;
  }

  .u-section-2 .u-line-1 {
    margin-top: 40px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-2 {
    min-height: 345px;
  }

  .u-section-2 .u-text-1 {
    margin-right: calc(((100% - 340px) / 2) + 93px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-list-1 {
    width: 390px;
    margin-top: 43px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 190px;
  }

  .u-section-2 .u-line-1 {
    margin-top: 43px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 820px;
}

.u-section-3 .u-text-1 {
  margin: 40px 1034px 0 0;
}

.u-section-3 .u-list-1 {
  grid-template-rows: auto;
  width: 665px;
  margin: 40px auto 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 26.6667px) calc(33.3333% - 26.6667px) calc(33.3333% - 26.6667px);
  grid-gap: 40px 40px;
  min-height: 665px;
}

.u-section-3 .u-image-1 {
  background-image: url("images/spotify.webp");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-2 {
  background-image: url("images/apple.webp");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-image-3 {
  background-image: url("images/youtube.webp");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-image-4 {
  background-image: url("images/deezer.webp");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-image-5 {
  background-image: url("images/soundcloud.webp");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-image-6 {
  background-image: url("images/pandora.webp");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px;
}

.u-section-3 .u-image-7 {
  background-image: url("images/amazon.webp");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-7 {
  padding: 30px;
}

.u-section-3 .u-image-8 {
  background-image: url("images/yandex.webp");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-8 {
  padding: 30px;
}

.u-section-3 .u-image-9 {
  background-image: url("images/tencent.webp");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-9 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 625px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 834px;
  }

  .u-section-3 .u-list-1 {
    height: auto;
    margin-bottom: 34px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px);
    grid-gap: 20px 20px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 595px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-right: 614px;
  }

  .u-section-3 .u-list-1 {
    margin-bottom: 60px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
    grid-gap: 30px 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 700px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 434px;
  }

  .u-section-3 .u-list-1 {
    margin-bottom: 40px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px);
    grid-gap: 20px 20px;
    min-height: 541px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1102px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 234px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
    min-height: 903px;
  }
}