.u-section-1 .u-sheet-1 {
  min-height: 606px;
}

.u-section-1 .u-text-1 {
  margin: 40px 970px 0 0;
}

.u-section-1 .u-list-1 {
  width: 507px;
  grid-template-rows: auto;
  margin: 40px auto 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(50% - 20px) calc(50% - 20px);
  grid-gap: 40px 40px;
  min-height: 510px;
  grid-auto-columns: calc(50% - 20px);
}

.u-section-1 .u-image-1 {
  background-image: url("images/03.webp");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  background-image: url("images/Far_Away1.webp");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-image-3 {
  background-image: url("images/01.webp");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-image-4 {
  background-image: url("images/OnmyMind.webp");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 770px;
  }

  .u-section-1 .u-list-1 {
    width: 521px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1616px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 550px;
  }

  .u-section-1 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
    grid-gap: 30px 30px;
    min-height: 718px;
    grid-auto-columns: calc(50% - 15px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1270px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 370px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 539px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 856px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 170px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
    grid-gap: 20px 20px;
    min-height: 343px;
    grid-auto-columns: calc(50% - 10px);
  }
}