.u-section-1 .u-sheet-1 {
  min-height: 606px;
}

.u-section-1 .u-text-1 {
  margin: 40px auto 0 0;
}

.u-section-1 .u-list-1 {
  width: 780px;
  min-height: 375px;
  grid-template-rows: auto;
  height: auto;
  margin: 40px auto 60px;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: calc(50% - 20px);
  grid-template-columns: calc(50% - 20px) calc(50% - 20px);
  grid-gap: 40px 40px;
  grid-auto-rows: 100%;
}

.u-section-1 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/Far_Away1.webp");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/01.webp");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-list-1 {
    width: 788px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1616px;
  }

  .u-section-1 .u-list-1 {
    min-height: 345px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(50% - 15px);
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
    grid-gap: 30px 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1270px;
  }

  .u-section-1 .u-list-1 {
    min-height: 255px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-rows: calc(33.33% - 6.66667px);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1657px;
  }

  .u-section-1 .u-list-1 {
    min-height: 150px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(50% - 10px);
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
    grid-gap: 20px 20px;
    grid-auto-rows: 100%;
  }
}