.u-section-1 .u-sheet-1 {
  min-height: 664px;
}

.u-section-1 .u-text-1 {
  margin: 40px 970px 0 0;
}

.u-section-1 .u-list-1 {
  width: 780px;
  grid-template-rows: auto;
  margin: 40px auto;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 26.6667px) calc(33.3333% - 26.6667px) calc(33.3333% - 26.6667px);
  grid-gap: 40px 40px;
  min-height: 505px;
  grid-auto-columns: calc(33.3333% - 26.6667px);
}

.u-section-1 .u-image-1 {
  background-image: url("images/05.webp");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  background-image: url("images/OnmyMind.webp");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-image-3 {
  background-image: url("images/03.webp");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-image-4 {
  background-image: url("images/Far_Away1.webp");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-image-5 {
  background-image: url("images/01.webp");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 682px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 770px;
  }

  .u-section-1 .u-list-1 {
    width: 801px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 523px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 632px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 550px;
  }

  .u-section-1 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
    grid-gap: 30px 30px;
    min-height: 473px;
    grid-auto-columns: calc(33.3333% - 20px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 977px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 370px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
    min-height: 818px;
    grid-auto-columns: calc(50% - 15px);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 661px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 170px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
    grid-gap: 20px 20px;
    min-height: 515px;
    grid-auto-columns: calc(100% - 0px);
  }
}